<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/media.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <title>Página Inicial</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navbar">
            <a class="navbar-brand" href="./index.html">
                <div class="d-flex align-items-center">
                    <img src="../../../assets/images/logo.jpg" class="logo" alt="Logomarca CiniSimples">
                    <h1 id="CliniSimples" class="ml-2">CliniSimples</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="./perfil.html">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./agenda.html">Agendamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./agendarConsulta.html">Agendar consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="../../../../index.html">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="boas-vindas">
            <div class="container">
                <h2>Olá, seja bem vindo!</h2>
                <h2>Como posso ajudar?</h2>
                <table>
                    <tr>
                        <td>
                            <img src="../../../assets/images/banner.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <a href="./agendarConsulta.html">
                                        Agendar uma consulta
                                    </a>
                                </li>
                                <li>
                                    <a href="./agenda.html">
                                        Ver seus agendamentos
                                    </a>
                                </li>
                                <li>
                                    <a href="./perfil.html">
                                        Acessar seu perfil
                                    </a>
                                </li>
                                <li>
                                    <a href="../../../../index.html">
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p>CliniSimples - Trabalho final PPI</p>
    </footer>
</body>

</html>