<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/media.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <title>Seu perfil</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="navbar">
            <a class="navbar-brand" href="./home.html">
                <div class="d-flex align-items-center">
                    <img src="../../../assets/images/logo.jpg" class="logo" alt="Logomarca CiniSimples">
                    <h1 id="CliniSimples" class="ml-2">CliniSimples</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color-white" href="./perfil.html">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./agenda.html">Agendamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="./agendarConsulta.html">Agendar consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="../../../../index.html">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            <h3>Seu perfil</h3>
            <img src="../../../assets/images/perfil.jpg" class="perfil" alt="Foto de perfil">
            <h3>Fulano de Tal</h3>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Foto:</th>
                            <td class="text-center">
                                <input type="file" name="foto" accept="image/*">
                            </td>
                            <td class="text-center">
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <th class="text-center">Nome:</th>
                            <td class="text-center">Fulano de tal</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Email:</th>
                            <td class="text-center">fulano@email.com</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <th class="text-center">CPF:</th>
                            <td class="text-center">123.456.789-00</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Idade:</th>
                            <td class="text-center">28</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <th class="text-center">Rua:</th>
                            <td class="text-center">Rua tal</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Bairro:</th>
                            <td class="text-center">Bairro tal</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <th class="text-center">Cidade:</th>
                            <td class="text-center">Cidade tal</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Estado:</th>
                            <td class="text-center">Estado tal</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm">Editar</button>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>


        </div>

        </div>
    </main>


</body>

</html>