<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <script src="../../../assets/js/validaLogin.js"></script>
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <title>Login</title>
</head>

<body>
    <nav>
        <table>
            <tr>
                <td><a href="../../../../index.html"><img class="logo" src="../../../assets/images/logo.jpg"
                            title="Logomarca CliniSimples"></a></td>
                <td>
                    <h1 id="CliniSimples">CliniSimples</h1>
                </td>
            </tr>
        </table>
        <a href="../../../../index.html">Home</a>
        <a href="./sobre.html">Sobre</a>
        <a href="./cadastro.html">Cadastro</a>
        <a id="linkLogin" href="./login.html">Login</a>
    </nav>

    <main class="paginaLogin">
        <div class="container">
            <h3>Login</h3>
            <form class="row g-3" id="login">
                <div class="col-sm-12 form-floating">
                    <input type="email" name="email" class="form-control" id="email" placeholder=" " autofocus>
                    <label for="email" class="form-label labelLogin">Email</label>
                    <div class="alert alert-danger alert-dismissible" id="alertaEmail">
                        <span>O email deve ser preenchido!</span>
                    </div>
                </div>
                <div class="col-sm-12 form-floating">
                    <input type="password" name="senha" class="form-control" id="senha" placeholder=" ">
                    <label for="senha" class="form-label labelLogin">Senha</label>
                    <div class="alert alert-danger alert-dismissible" id="alertaSenha">
                        <span>A senha deve ser preenchida!</span>
                    </div>
                </div>
                <button class="btn btn-primary col-sm-12 btn-success">Entrar</button>
            </form>
        </div>
    </main>

    <footer>
        <p>CliniSimples - Trabalho final PPI</p>
    </footer>
</body>

</html>