/* formularios */
input.form-control:focus,
select.form-select:focus,
input.form-check-input:checked {
    border-color: rgb(158, 187, 158);
    box-shadow: 0 0 0 0.2rem rgb(158, 187, 158);
}

/* ################# */



/* cadastro */
.cadastro {
    background-color: rgb(105, 137, 138);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.cadastro input {
    margin-bottom: 5px;
}

.cadastro h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;

}

.cadastro button {
    margin-top: 30px;
}

legend {
    margin: 10px 0;
    color: rgb(216, 194, 170);
}

#botao {
    width: 100%;
}

/* ##################### */

/* login */
.paginaLogin {
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    margin: auto 10px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(105, 137, 138);
}

.paginaLogin input {
    margin-bottom: 5px;
}

.paginaLogin h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;
}

.labelLogin {
    padding: 20px;
    color: lightgrey;
    margin-left: 10px;
}



/* alertas */
#alertaEmail,
#alertaSenha,
#alertaNome,
#alertaCpf,
#alertaIdade,
#alertaSexo,
#alertaRua,
#alertaBairro,
#alertaCidade,
#alertaEstado,
#alertaEspecialidade,
#alertaData,
#alertaHorario {
    margin-top: 5px;
    display: none;
    color: red;
}

/*###################*/



/* agendamento */
.agendamento {
    background-color: rgb(105, 137, 138);
    border-radius: 15px;
    padding: 20px;
}

.agendamento input {
    margin-bottom: 10px;
}

.agendamento select {
    margin-bottom: 10px;
}

.agendamento h2,
.agendamento h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 30px;
}

.agendamento button {
    margin-top: 20px;
}

/* ################### */



/* pesquisa */
#pesquisa input {
    margin-bottom: 5px;
}

#pesquisa label {
    color: silver;
}

/* ################# */