* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 75px;
    padding-top: 15px;
    background-color: rgb(43, 100, 102);
    color: silver;
    text-align: center;
    border-top: solid 1px rgb(78, 118, 119);
    font-size: 1.25rem;
    margin-top:5px;
}

/* navegacao */
nav {
    background-color: rgb(43, 100, 102);
    width: 100%;
    height: 150px;
    padding: 15px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    border-bottom: solid 1px rgb(78, 118, 119);
}

nav a {
    color: silver;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: #666;
}

.homePage {
    flex: 0 auto;
    align-items: center;
    margin: auto;
    color: silver;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(105, 137, 138);
    font-size: 1.2rem;    
}

.homePage h2 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 2rem;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: silver;
    padding: 40px;
    border-radius: 15px;
    background-color: rgb(105, 137, 138);
    font-size: 1.5rem;
    white-space: nowrap;
}

.content h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 2rem;
}


/* logomarca */
.logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 4px rgb(101, 138, 116);
    margin: 10px 10px 10px 10px;
}

/* nome logomarca */
#CliniSimples {
    margin-left: 10px;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(202, 175, 146);
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;

}

/* botao de login no canto direito */
#linkLogin {
    margin-left: auto;
    margin-right: 60px;
}

/* ################ */




/* formularios */
input.form-control:focus,
select.form-select:focus,
input.form-check-input:checked {
    border-color: rgb(158, 187, 158);
    box-shadow: 0 0 0 0.2rem rgb(158, 187, 158);
}

/* ################# */



/* login */
.paginaLogin {
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    margin: auto;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(105, 137, 138);
}

.paginaLogin input {
    margin-bottom: 5px;
}

.paginaLogin h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;
}

.labelLogin {
    padding: 20px;
    color: lightgrey;
    margin-left: 10px;
}


#alertaEmail,
#alertaSenha {
    display: none;
    color: red;
}

/*###################*/



/* cadastro */
.cadastro {
    background-color: rgb(105, 137, 138);
    border-radius: 15px;
    padding: 40px;
    width: 1000px;
}

.cadastro h3 {
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;

}

#checkRadio {
    margin-top: 10px;
}

.cadastro button {
    margin-top: 30px;
}

legend {
    margin: 10px 0;
    color: rgb(216, 194, 170);
}

/* ##################### */