* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100%;
}

main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgb(43, 100, 102);
    color: silver;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px rgb(78, 118, 119);
    font-size: 1.5rem;
}

/* navegacao */
nav {
    background-color: rgb(43, 100, 102);
    width: 100%;
    height: 120px;
    padding: 15px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    border-bottom: solid 1px rgb(78, 118, 119);
}

nav a {
    color: silver;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: #666;
}


/* logomarca */
.logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

/* nome logomarca */
#CliniSimples {
    margin-left: 10px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(202, 175, 146);
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;

}

/* botao de login no canto direito */
#linkLogin {
    margin-left: auto;
    margin-right: 60px;
}

/* ################ */




/* formularios */
input.form-control:focus,
select.form-select:focus,
input.form-check-input:checked {
  border-color: rgb(158, 187, 158);
  box-shadow: 0 0 0 0.2rem rgb(158, 187, 158);
}
/* ################# */



/* login */
.paginaLogin {
    margin: auto;
    width: 25%;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(105, 137, 138);
}

.paginaLogin h3{
    color: rgb(214, 188, 160);
    font-weight: bolder;
    margin-bottom: 20px;
}

.labelLogin {
    padding: 20px;
    color: lightgrey;
}

/*###################*/


/* cadastro */
.cadastro {
    background-color: rgb(105, 137, 138);
    border-radius: 15px;
    padding: 40px;
}

.cadastro button {
    margin-top: 30px;
}

.cadastro-check{
    margin-top: 20px;
}

legend {
    margin: 10px 0;
    color: rgb(216, 194, 170);
}
/* ##################### */